:root {
  --nav-bar-size: 60px;
  --sub-nav-size: 20px;
}

* {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

#top-nav {
  width: 100%;
  height: var(--nav-bar-size);
  box-sizing: border-box;
  background-color: #34495e;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#sub-nav {
  width: 100%;
  height: var(--sub-nav-size);
  box-sizing: border-box;
  background-color: #34495e;
  display: flex;
}

#alert-div {
  color: #ffffff !important;
  font-size: 15px;
  font-weight: 400;
  margin: auto;
}

#nav-title {
  color: #ffffff !important;
  font-size: 22px;
  font-weight: 500;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #ffffff !important;
  text-decoration-line: none !important;
  margin: 5px;
  padding: 5px 20px 5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover {
  text-decoration-line: none !important;
  color: #16a085 !important;
  transition-duration: 0.1s;
  transition-timing-function: ease;
}

#sketch-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - (var(--nav-bar-size) + var(--sub-nav-size)));
}

.modal-button-left {
  float: left;
}

.modal-button-right {
  float: right;
  margin-left: 5px;
}

.uk-modal-title {
  text-align: center;
}

#page_number_div {
  position: fixed;
  float: right;
  right: 0;
  top: 0;
  margin: 20px;
}

img {
  display: block;
  margin: 0px auto 15px auto;
}

.disableSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}
